@charset "UTF-8";
body {
    margin: 0;
}

.header {
    display: block;
}

.boxA {
    display: block;
    font-size: 0.8rem;
    color: #ffffff;
    background-color: #3b72d6;
    width: 100%;
    height: 3rem;
    font-weight: bold;
    box-sizing: border-box;
    padding: 1rem 0;
}

span.header-title {
    margin-left: 5rem;
}

span.header-contact {
    float: right;
    margin-right: 5rem;
}

.boxB {
    display: block;
    color: black;
    background-color: #e4fdff;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container img {
    width: 80%;
    margin: 1rem 0;
    padding: 0 10%;
}

.top-img {
    width: 30vw;
    position: relative;  
    display: flex;
    align-items: center; 
}

.boxC {
    display: flex;
    justify-content: center;
    background-color: #3b72d6;
}

.p1-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(30vw - 1%);
    text-align: center;
    background :#ffffff;
    font-weight: bold;
    font-size: 0.8rem;
    color: #5396db;
    margin: 1rem 1%;
}



.h2 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #000000;
    padding-top: 50px;
    margin: 0;
}


.ai {
    font-size: 16px;
    color: black;
}

.okane {
    font-size: 20px;
    color: #3b72d6;
}

.p1 {
    text-align:center;
}

.h1 {
    font-size: 64px;
    text-align: center;
    color: #3b72d6;
    margin-bottom: 10px;
    margin-top: 0px;
}

.h1-2 {
    text-align: center;
    padding-top: 3%;
    margin: 0;
}

.container2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.boxD {
    position: relative;
    display: block;

}

.section-white {
    position: relative;
}

.section-white::after {
    content: ' ';
    position: absolute;
    left: 50%;
    bottom: -1.4rem;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border: none;
    border-top: 1.4rem solid #ffffff;
    border-right: 2.5rem solid transparent;
    border-left: 2.5rem solid transparent;
    }

.section-color::after {
    content: ' ';
    position: absolute;
    margin-left: 50%;
    margin-top: 0%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border: none;
    border-right: 2.5rem solid transparent;
    border-left: 2.5rem solid transparent;
    z-index: 1;
}


.grid-box {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 10rem;
    margin: 5% auto;
    border: 2px solid #1db7b5;
    box-shadow: 0 0 0 4px #7bcdce;
}

.grid-box img {
    height: 4rem;
    object-fit: contain;
    margin-top: -1rem;
}

.boxD-item__title {
    margin: 0;
    height: 3rem;
    line-height: 3rem;
}

.boxD-item__content {
    height: 4rem;
    margin: 0 1rem;
}

.h3 {
    text-align: center;
}

.grid-box > p {
    font-size: 0.5rem;
}

.boxE {
    background-color: #7bcdce;
    height: 10%;
}

.boxE::after {
    border-top: 1.4rem solid #7bcdce;
}

.container3 {
    display: flex;
    justify-content: space-around;
}

.boxF {
    display: block;
    justify-content: space-around;
    border: 2px solid #000000;
    box-shadow: 0 0 0 4px #3b72d6;
    width: 100%;
    margin: 5%;
    background-color:#ffffff;
    
}

.boxF img {
    width: 30%;
    margin-left: 35%;
    margin-top: -10%;
}

.boxG {
    display: block;
}

.container4 {
    display: flex;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
}

.boxH {
    display: block;
    text-align: center;
    width: 25%;
    height: 30%;
    border: 4px solid #5396db;
    margin: 0 10%;
}

.plan1 {
    height: 20%;
    background-color: #5396db;
    font-size: 1.7rem;
    color: #ffffff;
}

.p1-2 {
    text-align: center;
    font-size: 0.7rem;
    margin-bottom: 0;
    padding-bottom: 1rem;
}

.p2 {
    color: #5396db;
    font-size: 1.2rem;
    text-align: center;
}

.okane2 {
    font-size: 1.5rem;
}

.boxI {
    display: block;
    text-align: center;
    width: 25%;
    height: 30%;
    border: 4px solid #7bcdce;
    margin: 0 10%;
}

.plan2 {
    font-size: 1.7rem;
    height: 25%;
    background-color: #7bcdce;
    color: #ffffff;
}

.p2-2 {
    color: #7bcdce;
    text-align: center;
    height: 20%;
    font-size: 1.2rem;
}

.okane2-2 {
    font-size: 1.5rem;
}

.boxJ {
    height: 20%;
    background-color: #5396db;
}

.boxJ::after {
    border-top: 1.4rem solid #5396db;
}


.h1-3 {
    color: #ffffff;
    text-align: center;
    padding-top: 5%;
    margin: 0;
}

.p3-1 {
    color: #ffffff;
    text-align: center;
}

.container5 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10%;
    margin-left: 10%;
}

.boxK {
    display: block;
    position: relative;
    background-color: #ffffff;
    margin-bottom: 3%;
    width: 80%;
    height: 20%;
    margin-left: 10%;
    font-weight: bold;
    color: #5396db;
}



.boxL {
    display: block;
    background-color: #ffffff;
    position: relative;
    margin-bottom: 3%;
    width: 80%;
    height: 20%;
    margin-left: 10%;
    font-weight: bold;
    color: #5396db;
}

.boxM {
    background-color: #ffffff;
}
 
.table1 {
    width: 70%;
    border: solid 4px #7bcdce;
    border-collapse: collapse;
    height: 50%;
    font-size: 1rem;
    margin: auto;
}

.table1 tr {
    height: 3rem;
}

.table-title {
    text-align: left;
}

th {
    border: solid 2px #000000;
}

.p4{
    font-size: 80%;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 1rem;
}

.boxO {
    background-color: #7bcdce;
}

.boxO::after {
    border-top: 1.4rem solid #7bcdce;
}


.container6 {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 4fr 4fr 3fr;
    margin-left: 10%;
    margin-right: 10%;
}

.boxP1 {
    background-color: #ffffff;
    height: 90%;
    margin-right: 25%;
}

.container6-item {
    position: relative;
}

.container6-item::after {
    content: ' ';
    position: absolute;
    right: calc(-33% / 2);
    top: 50%;
    transform: translate(50%, -50%);
    width: 0;
    height: 0;
    border: none;
    border-left: 0.4rem solid #ffffff;
    border-top: 0.6rem solid transparent;
    border-bottom: 0.6rem solid transparent;
    }

.boxP2 {
    background-color: #ffffff;
    height: 90%;
    margin-right: 25%;
}

.boxP3 {
    background-color: #ffffff;
    height: 90%;
}

.boxP4 {
    background-color: #ffffff;
    height: 90%;
    margin-right: 25%;
}

.boxP5 {
    background-color: #ffffff;
    height: 90%;
    margin-right: 25%;
}

.boxP6 {
    background-color: #ffffff;
    height: 90%;
}

.boxP6::after {
    display: none;
}

.boxQ {
    display: block;
    background: #ffffff;
}

.irai-number {
    -webkit-text-fill-color: black;
    font-size: 0.8rem;
    -webkit-text-stroke-width: 0.14rem;
    -webkit-text-stroke-color: #ffffff;
    font-size: 2rem ;
    position: relative;
    bottom: 20%;
    right: 3%;
    font-weight: bold;
}

.irai-bun {
    color: #7bcdce;
    text-align: center;
    padding-bottom: 10%;
    font-weight: bold;
}

.container7 {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.boxR1 {
    flex: 0 0 20%;
    margin-right: 5%;
}

.boxR2 {
    flex: 0 0 20%;
    margin-right: 5%;
}

.boxR3 {
    flex: 0 0 20%;
}

.boxR1 .boxR2 {
    margin-right: 10%;
}

.h-service-detail {
    color: #137776;
    font-size: 1.3rem;
    font-weight: bold;
}

.p5 {
    font-size: 0.7rem;
    text-align: left;
}

.p6 {
    margin-top: 10%;
    font-size: 0.7rem;
}

.boxS {
    background-color: #5396db;
}

.boxS::after {
    border-top: 1.4rem solid #5396db;
}


.container8 {
    display: block;
    height: 90%;
    padding-bottom: 1rem;
}

.boxS1 {
    display: block;
    position: relative;
    width: 60%;
    height: 40px;
    color: #5396db;
    font-weight: bold;
    background-color: #ffffff;
    margin-left: 20%;
    margin-top: 1%;
    padding-top: 1.3%;
}

.yokuaru {
    color: #000000;
    font-weight: bold;
}

.boxT {
    background-color: #7bcdce;
    height: 100%;
}

.boxT::after {
    border-top: 1.4rem solid #7bcdce;
}


.container9 {
    display: flex;
    justify-content: center;
}

.container9-item {
    margin: 0 1rem;
    padding: 0.5rem;
}

.boxT-p {
    margin-bottom: 0;
    padding-bottom: 1rem;
}

.boxT1 {
    display: inline-block;
    background-color: #ffffff;
    font-size: 0.9rem;
    font-weight: bold;
}

.boxT2 {
    display: inline-block;
    background-color: #ffffff;
    font-size: 0.9rem;
    font-weight: bold;
}

.boxT3 {
    display: inline-block;
    background-color: #ffffff;
    font-size: 0.9rem;
    font-weight: bold;
}

.boxU::after {
    display: none;
}

.boxU1 {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: -5%;
}

.form-title {
    font-weight: bold;
    width: 90%;
    margin-left: 25%;
    margin-right: -30%;
}

.must {
    color: red;
    font-size: 0.7rem;
}

.form-input {
    width: 100%;
    padding: 1em 0.5em;
    font-size: 2rem;
}

.mendan {
    font-size: 1rem;
}

.textarea1 {
    margin: 0 25%;
    width: 50%;
    line-height: 3;
}

.p6 {
    font-size: 0.8rem;
    width: 80%;
    color: gray;
    margin: 10% auto 0;
}

.boxU2 {
    margin-top: 5%;
}

.submit-btn {
    display: block;
    border: none;
    cursor: pointer;
    background: #5396db;
    font-size: 1.4rem;
    font-weight: bold;
    margin: auto;
    padding: 0.8%;
    width: 20%;
    color: #ffffff;
}

.boxV {
    background: #7bcdce;
    width: 100%;
    margin-bottom: 2%;
}

.p7 {
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 10%;
    width: 90%;
    
    
}

.p9 {
    color: #ffffff;
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 2%;
    text-align: center;
}

.boxW {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000000;
    font-size: 0.8rem;
}


















